.search-form {
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 1em;
  margin: 15px;
  // scroll-behavior: smooth;
}

.photo-card {
  background: rgb(228, 237, 240);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.2),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.info-item:not(:last-child) {
  margin-bottom: 10px;
}

.info {
  padding: 12px;
}

input {
  width: 300px;
  min-height: 50px;
  border-radius: 5px 0px 0px 5px;
  border: none;
}

.search-btn {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0px 5px 5px 0px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  min-height: 50px;
}
